.section1{
    height:50vh;
    background-color: $white1;
    display: flex;
    flex-direction: row;
    .p-left{
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 15px;
        padding: 10px;
        border: 1px dashed $brown1;
        h2{
            @include title;
            text-align: center;
            font-size: 1rem;
            line-height: 3vh;
            padding-bottom: 15px;
            span{
                @include typescript-brown;
                font-size: 1.7rem;
            }
        }
        p{
            display:  flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $font3;
            text-align: center;
            padding: 30px 0;
        }
        .avatar{
            width: 90px;
            border-radius: 50%;
        }
    }
    .right-img{
        width: 50%;
        background-image: url(../img/store-01.jpg);
        background-position: center;
        background-size: cover;
    }
}

.section2 {
    background-image: url(../img/bg-menu-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom -20%;;
    padding-bottom: 5vh;
    .menu-header{
        text-align: center;
        width: 100%;
        h2{
            @include typescript-brown;
            font-size: 2rem;
            padding: 3vh 0vh 3vh 0vh;
        }
        img{
            padding-bottom: 3vh;
        }
        ul{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            font-family: $font3;
            color: $white1;
            li{
                margin: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid $white1;
            }
        }
    }
    .food-menu{
        width: 100%;
        background-color: $white1;
        border-top: 3px solid $brown1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ul{
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            margin: 10px;
            li{
                display: grid;
                grid-template-columns: 1fr 8fr 1fr;
                align-items: center;
                width: 100%;
                padding: 20px;
                border-bottom: 1px dashed $grey2;
                .dish-item-img{
                    width: 70px;
                    border-radius: 50%;
                }
                .plate-desc{
                    padding: 10px;
                    span{
                        @include focus;
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                    p{
                        font-family: $font3;
                        font-size: 0.8rem;
                    }
                }
                .plate-price{
                    @include price-brown;
                }
            }
        }
    }
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    .resa{
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 100px;
    color: $white1;
    text-align: center;
    max-width: 1100px;
    h2{
        @include title;
        .typescript-title{
            @include typescript-brown;
            font-size:2rem;
        }
    }
    span{
        @include focus;
        color: $brown1;
        font-weight: 600;
        padding: 20px 0px;
        font-size: 0.8rem;
    }
    .time-open{
        background-color: $black1;
        padding: 10px;
        .hours{
        border: 1px dotted $grey2;
        padding: 10px;
        h2{
            @include title;
            .typescript-title{
                @include typescript-brown;
                font-size:3rem;
            }
        }
        span{
            @include focus;
            color: $brown1;
            font-weight: 600;
            padding: 20px 0px;
            font-size: 0.8rem;
        }
        p{
            font-family: $font3;
            font-size: 0.7rem;
        }
        }
    }
    .booking{
        background-color: $white1;
        padding: 20px;
        color: $black1;
        display: flex;
        justify-content: center;
        align-items:center;
        margin: auto 0;

        form{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            > * {
                background: none;
                border: none;
                border-bottom: 1px solid $grey1;
                margin: 10px;
                padding: 5px;
            }
        }
        button{
            font-family: $font2;
            font-size: 1rem;
            letter-spacing: 2px;
            margin: 30px 0;
            padding: 5px 20px;
            background-color: $black1;
            color: $white1;
            border-radius: 60px;
            width: 200px;
            height: 50px;
        }
    }
}

}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    h2{
        @include title;
        color: $white1;

    }
    .typescript-title{
        @include typescript-brown
    }
    .our-event{
        display: grid;
        gap: 15px;
        grid-template-columns: 58% 42%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a b"
        "c b";
        .event-left{
            display: grid;
            grid-template-columns: 39% 61%;
            background-color: $white1;
        }
        .event-right{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: auto 0px;
            background-color: $white1;
        }
        .event-date{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .date-content{
                background-color: $black1;
                color: $white1;
                height: 86px;
                width: 86px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                line-height: 22px;
                font-family: $font3;
                h6{
                    font-size: 1.7rem;
                }
            }
        }
        .event-desc{
            background-color: $white1;
            font-family: $font3;
            color: $black1;
            padding: 30px 20px;
            h6{
                letter-spacing: 1px;
                font-size: 1.3rem;
                font-weight: 500;
                padding-left: 8px;
            }
            p{
                font-size: 0.9rem;
                color: $grey1;
                margin-top: 20px;
                letter-spacing: 1px;
                i{
                    margin-right: 3px;
                    font-size: 0.7rem;
                    transform: translateY(-2px);
                    &:nth-child(2){
                        margin-left: 10px;
                    }
                }
            }
            h5{
                letter-spacing: 2px;
                margin-top: 25px;
            }
        }
        .event1{
            grid-area: a;
            text-align: left;
            background-image: url('../img/event-01.jpg') ;
            background-position: center;
            background-size: cover;
        }
        .event2{
            grid-area: b;
            text-align: center;
            background-image: url('../img/event-02.jpg') ;
            background-position: center;
            background-size: cover;
            padding:20px;
            .event-right{
                height: 100%;
            }
        }
        .event3{
            grid-area: c;
            text-align: left;
            background-image: url('../img/event-03.jpg');
            background-position: center;
            background-size: cover;
        }
    }

}
.section5{
    padding: 50px 0;
    position: relative;
    &:after{
        content:"";
        background: url("../img/gmap.jpg");
        margin-top: -100px;
        position: absolute;
        height: 200px;
        width: 100%;
    }

    .container2{
        background-color: $white1;
        color: $black1;
        position: relative;
        z-index:999;
        img{
            margin-top: -40px;
            width: 70px;
            height:70px;
            border-radius: 50%;
        }
        p{
            text-align: center;
            padding: 50px;
            font-family: $font3;
        }
        h6{
            font-family: $font3;
            font-size: 1.5rem;
            font-weight: 500;
        }
        span{
            font-family: $font3;
            color:$brown1;
            padding: 20px 0px 50px 0px;
        }
    }
}
.section6{
    margin-top:50px;
    background-image: url('../img/bg-footer.jpg');
    background-position: center;
    background-size: cover;
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        font-family: $font3;
        .left-part{
            color:$white1;
            padding: 20px;
            line-height: 1.7rem;
            .logo{
                @include typescript-brown;
                font-size: 2rem;
            }
        }
        .right-part{
            display: flex;
            flex-direction: column;
            color:$white1;
            padding: 20px;
            text-transform: uppercase;
            label{
                font-size: 1rem;
                font-weight: 600;
            }
            #newsletter{width:200px;
                background: none;
                border: 1px solid rgba(156, 111, 48, 0.3);
                border-radius: 3px;
                margin-top:10px;
                padding:5px;
            }
            .social{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                padding-top: 30px;
                h6{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
        .social-icons{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            color: $grey2;
            li{
                padding-left: 20px;
            }
        }
    }
}